body {
    padding-top: 60px;
    padding-bottom: 60px;
}

.copyright {
    color: #ffffff;
}

.footer {
    text-align: center;
}

.footer a {
    color: #ee4444;
}

.sidebar h1 {
    color: #707070;
    font-weight: 700;
    line-height: 1.66666666666667;
    text-transform: uppercase;
    font-size: 1.1em;
}

.sidebar h2 {
    color: #707070;
    font-weight: 700;
    line-height: 1.66666666666667;
    text-transform: uppercase;
    font-size: 1.0em;
}

.sidebar a {
    color: #428bca;
}

.sidebar .list-group-item {
    background-color: #f5f5f5;
    padding: 8px 8px;
    white-space: nowrap;
}

.sidebar .badge {
    background-color: #205081;
}

.container-left {
    margin: 0;
}

.well h1 {
    color: #ee4444;
    font-size: 1.3em;
}

/* Hide for mobile, show later */
.sidebar {
    display: none;
}
@media (min-width: 768px) {
    .sidebar {
        position: fixed;
        top: 51px;
        bottom: 0;
        left: 0;
        z-index: 1000;
        display: block;
        padding: 10px;
        overflow-x: auto;
        overflow-y: auto;
        background-color: #f5f5f5;
        border-right: 1px solid #eee;
    }
}

/*
 * Main content
 */
.main {
    padding: 20px;
}
@media (min-width: 768px) {
    .main {
        padding-right: 40px;
        padding-left: 40px;
    }
}
.main .page-header {
    margin-top: 0;
}

.navbar {
    /* see also: http://www.colorzilla.com/gradient-editor/ */
    background: #205081
}

.navbar .navbar-brand {
    color: white;
}

.code {
    font-family: Consolas, "Liberation Mono", Menlo, Courier, monospace;
}

code {
    padding: 0.15em 0 0 0;
    margin: 0;
    font-size: 90%;
    font-family: Consolas, "Liberation Mono", Menlo, Courier, monospace;
    color: rgb(51, 51, 51);
    background-color: rgba(0,0,0,0.04);
    border-radius: 3px;
}

code:before, code:after {
    letter-spacing: -0.2em;
    content: "\00a0";
}

pre > code:before, pre > code:after {
    letter-spacing: normal;
    content: normal;
}

body {
    font: 14px/1.4 Helvetica, arial, nimbussansl, liberationsans, freesans, clean, sans-serif, "Segoe UI Emoji", "Segoe UI Symbol";
    color: rgb(51, 51, 51);
    background-color: #fff;
}

/* https://css-tricks.com/snippets/css/remove-margins-first-element/ */
p:first-child {
    margin-top: 0 !important;
    margin-left: 0 !important;
}

p:last-child {
    margin-bottom: 0 !important;
    margin-right: 0 !important;
}

h1 {
    font-size: 24px;
}

.page-header h1 {
    margin-top: 0;
    margin-bottom: 0;
}

h2 {
    font-size: 22px;
}

h3 {
    font-size: 20px;
}

h4 {
    font-size: 18px;
}

h5 {
    font-size: 14px;
}

h6 {
    font-size: 12px;
}


/* angular tree view */

#tree {
    color: #3572b0;
}

#tree .active {
    background-color: #e6e6e6;
}

#tree td {
    padding: 4px;
    border-top: none;
    background-color: inherit;
}