<div>
    <h2>Enum Constants</h2>
    <table class="table">
        <thead>
        <tr>
            <th class="col-md-1">Name</th>
            <th class="col-md-1">Value</th>
            <th class="col-md-10">Description</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="constant in ctrl.type.constants">
            <td>
                <code>{{ constant.name }}</code>
                <label-deprecated descriptor="constant"></label-deprecated>
            </td>
            <td>{{ constant.value }}</td>
            <td ng-bind-html="constant.description"></td>
        </tr>
        </tbody>
    </table>

    <div ng-if="ctrl.type.usages.length > 0">
        <h2>Usages</h2>
        <ul>
            <li ng-repeat="usage in ctrl.type.usages"><type-ref value="usage.ref"></type-ref></li>
        </ul>
    </div>
</div>
