<div>
    <h2>Message Fields</h2>
    <table class="table">
        <thead>
        <tr>
            <th class="col-md-1">Name</th>
            <th class="col-md-1">Type</th>
            <th class="col-md-1">Modifier</th>
            <th>Tag</th>
            <th class="col-md-8">Description</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="field in ctrl.type.fields">
            <td>
                <code>{{ field.name }}</code>
                <label-deprecated descriptor="field"></label-deprecated>
            </td>
            <td>
                <div ng-hide="field.map">
                    <type-ref value="field.typeId"></type-ref>
                </div>
                <div ng-show="field.map" class="text-nowrap">
                    map&lt;<type-ref value="field.mapKeyTypeId"></type-ref>, <type-ref value="field.mapValueTypeId"></type-ref>&gt;
                </div>
            </td>
            <td>
                <div ng-hide="field.map || field.oneof">
                    {{ field.modifier }}
                </div>
                <div ng-show="field.oneof" class="text-nowrap">
                    oneof {{ field.oneof }}
                </div>
            <td>{{ field.tag }}</td>
            <td ng-bind-html="field.description"></td>
        </tr>
        </tbody>
    </table>
</div>
