<div>
    <div ng-repeat="method in ctrl.type.methods">
        <h3>{{method.name}} <label-deprecated descriptor="method"></label-deprecated></h3>
        <table class="table table-striped table-bordered table-condensed">
            <tr class="active">
                <th class="col-xs-2"></th>
                <th class="col-xs-5">Request</th>
                <th class="col-xs-5">Response</th>
            </tr>
            <tr>
                <th>Type</th>
                <td><strong>{{method.argStream ? "stream" : ""}}</strong> <type-ref value="method.argTypeId"></type-ref></td>
                <td><strong>{{method.returnStream ? "stream" : ""}}</strong> <type-ref value="method.returnTypeId"></type-ref></td>
            </tr>
        </table>
        <p ng-bind-html="method.description"></p>
    </div>
</div>
