<div class="page-header" title="{{ ctrl.type.canonicalName }}">
    <h1>
        <span class="code">{{ ctrl.type.name }}</span>
    </h1>
</div>

<div ng-if="ctrl.type.description">
    <h2>Description</h2>
    <p ng-bind-html="ctrl.type.description"></p>
</div>

<div ng-switch on="ctrl.type.type">
    <div ng-switch-when="enum"><div ng-include="'partials/enum.html'"></div></div>
    <div ng-switch-when="message"><div ng-include="'partials/message.html'"></div></div>
    <div ng-switch-when="service"><div ng-include="'partials/service.html'"></div></div>
</div>
